<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>809922891283-3n5asqevu3d1lgn5jndgt5mpbam4traq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.809922891283-3n5asqevu3d1lgn5jndgt5mpbam4traq</string>
	<key>API_KEY</key>
	<string>AIzaSyC9dmlQrBbeabPYlbMbsExxrtMNHRw9m7I</string>
	<key>GCM_SENDER_ID</key>
	<string>809922891283</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.name.myshopping</string>
	<key>PROJECT_ID</key>
	<string>shoppinglist-d74d8</string>
	<key>STORAGE_BUCKET</key>
	<string>shoppinglist-d74d8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:809922891283:ios:4102ecb2a59de648a2b9e6</string>
</dict>
</plist>